@value mainColor from "../../common/styles.css";

.container {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  padding-top: 1.5rem;
}
.list {
  padding: 0 2rem;
}
.link {
  cursor: pointer;
  font-size: 1.1rem;
  color: mainColor;
  font-weight: 400;
}

@media (max-width: 426px) {
  .list {
    padding: 0 1rem;
  }
  .link {
    font-size: 0.9rem;
  }
}
